body {background-color: #79874f;
 position: absolute;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    vertical-align: middle;}
h1 {color: #fbfae4; text-align: center; font-size: 210%;}
form {font-size: 25px;}
input {font-size: 20px; background-color: #fbfae4; border-width: 3px;}
.klein {font-size: 16px;}
.white {color: #fbfae4;}
p {margin-left: 160px;}
